*{
    padding:0;
} 

header{
    background-image: initial;
    background-color: rgb(27, 29, 30);
    white-space: pre;
    align-items: center;
    display: flex;
    height: 50px;
    width: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    justify-content: space-between;
    opacity: 80%; 
    padding: 4px;
}

header:hover{
    background:#101001;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

header a{
    text-decoration: none;
    color: #fad586;
    font-size: 20px;
    font-weight: 400;
    margin: auto;
    text-align: center;
}

header a:hover{
    color: #3BCCAF;
}

#gonza-photo{
    width:120px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

body{
    display:block;
    background-color: #1c595c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%238d8f43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23acad52' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%238d8f43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23acad52' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23cacc60' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23298f7b' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2332ad95' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%233bccaf' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2332ad95' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23298f7b' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%233bccaf' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23298f7b' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%233bccaf' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2332ad95' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%233bccaf' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.section-title{
    color:#000000;
    font-weight: 600;
    margin:10px;
}

#root{
    font-family: 'Rubik', sans-serif;
    margin-top: 80px;
    padding: auto;
    background-color:#CACC60;
    overflow: hidden;
    position: relative;
    width: 60%;
    margin: 0 auto;
    border-radius: 20px;
}

.wrapper-page{
    margin-top: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.paragraph{
    background-color: #3BCCAF;
    position: relative;
    display: block;
    margin: 4%;
    padding: 3em;
    border-radius: 40px;
    font-size: 14px;
}

p{
    text-indent: 20px;
    margin-bottom: 10px;
}

.a-wrapper{
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #3BCCAF;
    border:#000000 solid 2px;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    margin: 20px;
}

.a-wrapper a{
    text-decoration: none;
}

#main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 992px){
    .section-title{
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 992px){
    .paragraph{
        text-align: center;
        font-size: 12px;
    }
}