/* CSS RESET */
/**/
    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**/

/* CSS FDI PAGE */
*{margin:0; padding:0;}
*{box-sizing: border-box;}
body{
    background-color: #242627;
    color:white;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;
}

#contenedor{
    width: 800px; 
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
    padding: 14px 16px;
    line-height: 100px;
    margin: 0 auto;
    background-color: #5f26ae;
}

.example{
    display: block;
    max-width: 600px;
    margin-top: 20px;
    margin-left: 500px;
}

form.example input[type=text] {
    float: left;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
}

.example button {
    width: 10%;
    padding: 10px;
    background: #5f26ae;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.example button:hover {
    background: #5e319e;
}

  /* Clear floats */
.example::after {
    content: "";
    clear: both;
    display: table;
}

header p{
    position: absolute;
    align-items: center;
    text-align: center;
    font-size: 36px;
    margin-left: 30px;
}

header ul{
    position: absolute;
    right: 0;
    line-height: 100px;
}

header ul li{
    display: inline-block;
    color: white;
    padding-right: 30px;
}

a{
    text-decoration: none;
    color: white;
}

.mid-right-image{ /*CAMERA*/
    position: absolute;
    right: -169px;
    top: 50%;
    margin-top: -150px;
}

.mid-left-image{ /*RED IPAD*/
    position: absolute;
    left: -179px;
    bottom: 90px;
    margin-top: -250px;
}

.mid-bottom-image{ /*IPAD*/
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -288px;
}

h3{
    font-size: 22px;
}

h5{
    font-size: 18px;
    margin-bottom: -12px;
}

form{
    width: 600px;
    height: 300px;
    position: absolute;
    margin-left: 150px;
    margin-top: 150px;
    line-height: 40px;
}


form .in{
    height: 20px;
    font-size: 14px;
}

form .cc{
    padding-right: 10px;
}

.btn{
    position: relative;
    padding: 4px;
    margin-right: 4px;
}